[Unit]
Description=Runs gridcoin netdata service evry 15 seconds

[Timer]
# Time between running each consecutive time
OnUnitActiveSec=15s
OnBootSec=7min

[Install]
WantedBy=multi-user.target
